@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
    color: white; 
    margin: 0;
    padding: 20px;
}

.form-container {
    min-width: 80%;
    margin: auto;
    background-color: #1e1e1e; 
    padding: 2rem; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
}

h1, h2, h3 {
    color: var(--primary-color); 
    padding-top: 2rem;
}

section {
    padding: 2rem 2rem;
    margin-bottom: 1rem;
}

textarea {
    width: 100%; 
    min-height: 150px; 
    padding: 1rem; 
    border-radius: 5px;
    border: 1px solid #3a3a3a; 
    background-color: #1e1e1e; 
    color: white; 
}

input[type="text"],
input[type="email"] {
    width: 100%; 
    padding: 1rem; 
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #3a3a3a; 
    background-color: #1e1e1e;
    color: white; 
}

button {
    padding: 1rem 2rem; 
    background-color: #e64e0d; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  
}

#expertise-list, #soft-skills-list {
    list-style-type: none; 
}

#expertise-list li, #soft-skills-list li {
    list-style-type: none; 
}

@media (max-width: 600px) {
    .form-container {
        padding: 1rem; 
    }
}
